body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

header, footer {
  padding: 32px 0;
  width: 100%;
}

nav {
  max-width: 1000px;
  margin: 0 auto;
  padding: 12px 0;
}
nav ul, nav a, nav p {
  display: inline-block;
  margin: 0;
}
nav ul {
  float: right;
}

section {
  width: 100%;
}

.animation {
  height: 768px;
  margin-top: 32px;
  overflow: hidden;
}
div[class^='step'], div[class*=' step'] {
  display: block;
  width: 100%;
}
.chat, .headline, .button-group {
  text-align: left;
  max-width: 400px;
  width: 100%;
  padding: 12px;
  margin: 0 auto;
  background: #f7f7f7;
}
.headline {
  max-width: 60%;
  text-align: center;
  background: #eaeaea;
}
.weld {
  text-align: right;
}
h5, p {
  margin: 0;
}

.row {
  display: block;
  margin: 0 auto;
  padding: 64px 0;
  max-width: 1000px;
}
.email, .slack, .scheduling, .flights, .bot {
  float: left;
  margin: 0;
  padding: 0;
  width: 67%;
}
.slack {
  width: 33%;
}
.scheduling, .flights {
  width: 50%;
}
.bot {
  width: 100%;
}
